{% extends 'base.html' %} 

{% block content %}
{% include 'navbar.html' %}
<div class="px-4">
    <h1 class="text-5xl font-extrabold my-4">Add New Item</h1>

    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Add Item" class="btn btn-primary text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-3.5 mr-2 mb-2 focus:outline-none"/>
                    <a href="/">
                        <button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm p-3.5 mr-2 mb-2">
                            Cancel
                        </button>
                    </a>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}